<div *ngIf="loading" class="loader"></div>
<button class="button" (click)="addNpmrc()" *ngIf="showTable">Add Key</button>&nbsp;
<button class="button" (click)="readFileData()" *ngIf="showTable">Reload Key</button>

<div id="wrapper" *ngIf="showTable">
  <table id="customers">
    <thead>
      <tr>
        <th>Key</th>
        <th>Value</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of dataFromFile">
        <td>{{data.key}}</td>
        <td>{{data.value}}</td>
        <td><button class="button" (click)="editValueNpmrc(data)">Edit Value</button>&nbsp;&nbsp;
          <button class="button" (click)="editKeyNpmrc(data)">Edit Key</button></td>
      </tr>
    </tbody>
  </table>
</div>

<div style="margin-top: 10px; border:1px solid black;" *ngIf="showAddEdit">
  <div class="col-lg-12">
    <div class="panel panel-yellow">
      <div class="panel-heading advanceSearchHeader">

        <div class="container">
          <label class="caption">{{npmrcTitle}}</label>
        </div>
        <div class="container">
          <form #npmrcForm="ngForm">
            <label for="uname" style="margin-top: 10px;"><b>Key</b></label>
            <input type="text" name="keys" [(ngModel)]="npmrcData['key']" placeholder="Enter Key"
              class="form-control formcontrol ModalInputColor" minlength="1" maxlength="25" [disabled]="showInputBoxKey"
              required />

            <label for="psw"><b>Value</b></label>
            <input type="text" name="values" [(ngModel)]="npmrcData['value']" placeholder="Enter Value"
              class="form-control formcontrol ModalInputColor" minlength="1" maxlength="25"
              [disabled]="showInputBoxValue" required />
          </form>

          <button [disabled]="!npmrcForm.valid" type="button" (click)="addEditKeyValue()" class="button">
            {{npmrcTitle}}</button>
          <button class="cancel" type="button" (click)="hideNpmrc()">Cancel</button>
        </div>
      </div>
    </div>
  </div>